html {
    max-width: 100%;
    overflow-x: hidden;
    z-index: -1;
    overflow-y: scroll;
}


.cover {
  width: 150px;
  height: 200px;
}

.book-box {
  width: 200px;
  height: 450px;
  margin: 25px auto 25px;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
}

h3 {
  overflow: auto;
  float: left;
  padding:5px;
}

.title {
  height:50px;
  overflow: inherit;
}


.searchForm {
  display: inline-block;
  margin-left: 25px;
  /*margin-right: 0;*/
  padding: 20px;
  width:75%;
}


.submitButton {
  float: right;
}

.input-group {
  width: 80%;
}

.edit-button {
  float: right;
  border: none;
  background-color: #eee;
}

.remove-button {
  float: left;
  border: none;
  background-color: #eee;
  color: red;
}


.modal-input {
  margin-bottom: 10px;
}


.top {
  display: Flex;
  justify-content: space-between;
}

.search {
  padding: 5px;
	font-size: 22px;
	color: #ffffff;
    display:inline;
	text-align: left;
}

.add-button {
  padding: 5px;
	font-size: 22px;
	color: #ffffff;
  display:inline;
	text-align: right;
  margin: 20px;
}

.error-msg {
  color: red
}
